/* Size for brand */
body
{
    background-color: rgb(255,204,255);
}

.container-fluid
{
    background-color: rgb(255,204,255);
}

/*.navbar-brand
{
    width: min-content;
    display: inline-block;
}*/

.logo
{
    color:rgb(255, 102, 255);
    font-size: xx-large;
}

.prof
{
    color:rgb(180, 70, 180);
    font-size: 60%;
}

.pig
{
    height:2em;
    width: 2em;
}

#navbarsearch
{
    margin-left:auto;
    margin-right:0;
}

.checkbox
{
    font-size:small;
}

.searches
{
    width:100%
}

.searchbar
{
    width:180%;
}

.searchbtn
{
    width:20%;
}

.containerindex
{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.events
{
    display: flex;
}

.myCourses
{
    font-size: larger;
    text-align: center;
}

.eventtitle
{
    font-size:x-large;
    font-weight: bold;
}

.docincourse
{
    margin:2em;
}

.commtodoc
{
    margin:2em;
}

.DICbod
{
    align-content: baseline;
}

td
{
    text-align: left;
}

.CPsearch
{
    width:50%;
}

.CPtable
{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.CPDh1
{
    font-size: 3em;
    padding-bottom: 1em;
}

#Cbtndiv
{
    font-size: 1.3em;
    padding-bottom:1em;
}

#DocFlex
{
    display:flex;
    justify-content: center;
    align-content: center;
}

#Dcomments
{
    margin: 2em;
    font-size: large;
}

#DOCdiv
{
    margin: 2em;
    font-size: larger;
}

#NOTEdiv
{
    padding:1em;
    background-color: rgb(255,179,255);
}

#Downloada
{
    padding:1em;
    background-color: rgb(255,179,255);
}

.Dcomment
{
    width:100%
}

#accordion
{
    background-color: rgb(255,179,255);
    width:50%;
}

#accflex
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-body
{
    background-color: rgb(255,179,255);
}

.cdhd
{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2em;
}

.card-header
{
    background-color: rgb(255,179,255);
    align-content: center;
}

.accTable
{
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

.ADtext
{
    width:30%;
    margin-left: auto;
    margin-right: auto;
}

.ADnote
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.ADfile
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#taginfo
{
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    width:30%;
}

.NF
{
    font-size: larger;
}

.ADbtn
{
    width:5em;
}

.MyCourse
{
    text-align: center;
}